/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Jan, 2017, 10:50:38 PM
    Author     : aishwarya3
*/

bookdetail{
    display: table;
    border: solid blue 1px;
   text-align: center;
   margin: auto;
   margin-top: 100px;
   width:800px;
   
}
book{
    display: table-row;
    border: solid 1px;
    background-color: aqua;
}
title,type,quantity,edition,price,address,author,pages{
       display: table-cell;
        border: solid 1px;
}
heading{
       display: table-row;
      }

h1,h2,h3,h4,h5,h6,h7,h8{
      display: table-cell;
        border: solid 1px;
        background-color: chocolate;
}
record
{
    display: table-caption;
    font-size: 20px;
}