emp{
    display:table;
    border: solid lightgray 1px;
    padding: 1px;
    border-spacing: 15px;
    text-align: center;
    margin-left: 350px;
    margin-top: 30px;
}
employee{
    margin: 10em 3em 10px 23em;
    display: table-row;
    }
name{
   display: table-cell;
   margin: 10em 3em 10px 23em;
   }
   id{
   display: table-cell;   
   margin: 10em 3em 10px 23em;
   }
   hiredate{
   display: table-cell;   
   margin: 10em 3em 10px 23em;
   }
   add{
   display: table-cell;    
   margin: 10em 3em 10px 23em;
   }
   n,ad,hd,i
   {
   background-color: gray;
   font-weight: bold;
   display: table-cell;    
   margin: 10em 3em 10px 23em;
   }
   record{
       display: table-caption;
       margin: 25px;
       font-size: 25px;
   }