/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Jan, 2017, 10:49:54 PM
    Author     : aishwarya3
*/

product{
    display: table;
    border: solid grey 1px;
   text-align: center;
   margin: auto;
}
prod{
    display: table-row;
    border: solid 1px;
    background-color: lightsalmon
}
id,name,color,price,size,material,type,dealer{
       display: table-cell;
        border: solid 1px;
}
heading{
       display: table-row;
       color:navy;
}

h1,h2,h3,h4,h5,h6,h7,h8{
      display: table-cell;
        border: solid 1px;
        background-color: yellow;
}