/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2017, 10:26:19 AM
    Author     : Snehal
*/

realestate
{
   
display: table;
margin-left: 150px;  
margin-top: 50px;
}
real
{display: table-row;
border: solid black 1px;
height:20px;
}
 heading,h2
 {
display: table-row;
background-color: lightgreen;
color:white; 
 }
bname,fno,area,price,size,bath
{
display: table-cell;
border: solid black 1px;
background-color: grey;
padding: 5px;
}
h1,h2,h3,h4,h5,h6
 {
display: table-cell;
border: solid black 1px;
}
h11
 {
margin-left:150px; 
font-size: 20px; 
}

