/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2017, 11:35:12 PM
    Author     : DELL
*/

weather{
    display: table;
    border: solid maroon;
    margin: 5em 8em 100px 15em;
    border-spacing: 2px;
    text-align: center;
}
title{ margin:-2em 35px 20px 3em;
       display: table-caption;
       font-size: 25px;}
we{ display: table-row;}

heading{display: table-row; }

h1,h4,h5,h2,h3{
    display: table-cell;
    border: solid 1px; 
    background-color:lightblue;  
    padding: 6px;}

city,temp,precipitation,humidity,wind{
    display: table-cell; 
    border: solid maroon 1px;  
    padding: 6px;
}

city{
     background-color:lightblue; 
}